@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --rojoClaro: hsl(7, 99%, 70%);
    --amarillo:hsl(51, 100%, 49%);
    --grDeText: hsl(167, 40%, 24%);
    --photoGr:hsl(198, 62%, 26%);
    --footer:hsl(167, 37%, 52%);
    --clientTit:hsl(212, 27%, 19%);
    --clientText:hsl(213, 9%, 39%);
    --grayishBlue:hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --secFont:'Barlow', sans-serif; /*Weights: 600*/
    --mainFont:'Fraunces', serif;/*Weights: 700 y/0 900*/
    --white:hsl(0, 0%, 100%);
}
body{
    width: 100%;
}
.section-1{
    width:100%;
    height: 80vh;
    background: url('../images/mobile/image-header.jpg') no-repeat center / cover;
    color: var(--white);
}
.section-1 header{
    padding: 18px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 55%;
    position: absolute;
    top:-1000px;
    right: 16px;
    clip-path: polygon(100% 90%, 100% 100%, 100% 9%, 100% 0, 100% 9%, 100% 11%, 100% 10%);
    background: var(--white);
    transition: top .6s linear;
    z-index: 100;
    list-style: none;
    gap: 3rem;
}
header ul li a{
    color:var(--grayishBlue);
    font-family: var(--secFont);
    text-decoration: none;
}
header ul li a:hover,header ul li a:active{
    color:var(--clientTit);
    font-family: var(--mainFont);
    background: var(--amarillo);
    padding: 1rem;
    border-radius: 20px;
    text-transform: uppercase;
}
.showNav{
    clip-path: polygon(0 100%, 100% 100%, 100% 25%, 100% 0, 94% 7%, 53% 7%, 0 7%);
    top:50px;
}
.section-1 header h1{
    font-family: var(--secFont);
    letter-spacing: 1px;
}
.section-1 header .icono{
    display:flex;
    flex-direction: column;
    gap:5px;
}
.section-1 header .icono span{
    width:25px;
    height:2px;
    background: var(--white);
    transition: .3s linear;
}
.changeIcon span:nth-child(2){
    opacity: 0;
}
.changeIcon span:nth-child(1){
    transform: translateY(4px);
}
.changeIcon span:nth-child(3){
    transform: translateY(-4px);
}
.section-1 h2{
    font-size:3rem;
    text-align: center;
    margin-top: 3rem;
    font-family: var(--mainFont);
}
.section-1 svg{
   margin-left:50%;
   transform: translateX(-50%);
   margin-top: 4rem;
}
/* ------------------------------ */
.section-2, .section-3{
    height: 100vh;
}
.section-2 .bg{
    height: 50vh;
    background: url('../images/mobile/image-transform.jpg') no-repeat center / cover;
}
.section-3 .bg{
    height: 50vh;
    background: url('../images/mobile/image-stand-out.jpg') no-repeat center / cover;
}
.section-2 .secText,.section-3 .secText{
    height: 50vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-2 .secText h3,.section-3 .secText h3{
    font-family: var(--mainFont);
    font-size: 2rem;
    color:var(--clientTit);
    margin-bottom: 1rem;
}

.section-2 .secText p,.section-3 .secText p{
    font-family: var(--secFont);
    color:var(--grayishBlue);
    font-size: 16px;
}
.section-2 .secText a, .section-3 .secText a{
    color:var(--clientTit);
    font-family: var(--mainFont);
    font-size: 18px;
    text-decoration: none;
    position:relative;
}

.section-2 .secText a::after,.section-3 .secText a::after{
    position: absolute;
    content: '';
    width:0%;
    height: 8px;
    border-radius: 20px;
    bottom: 10%;
    right: 0%;
    z-index: -1;
}
.section-2 .secText a:hover:after,.section-2 .secText a:active:after{
    width: 100%;
    background: var(--amarillo);
}
.section-3 .secText a:hover:after,.section-3 .secText a:active:after{
    width: 100%;
    background: var(--rojoClaro);
}
.section-4, .section-5{
    height: 80vh;
    text-align: center;
}
.section-4{
    color:var(--grDeText);
    background: url('../images/mobile/image-graphic-design.jpg') no-repeat center / cover;
}
.section-5{
    color:var(--photoGr);
    background: url('../images/mobile/image-photography.jpg') no-repeat center / cover;
}
.section-4 h3,.section-5 h3{
    font-family: var(--mainFont);
    font-size: 2rem;
    padding-top: 55vh;
}
.section-4 p,.section-5 p{
    padding-top: 1rem;
    font-family: var(--secFont);
    font-size: 16px;
}
/* --------------------- */

.section-6{
    width: 100%;
    text-align: center;
}
.section-6 h4{
    margin-top: 3rem;
    font-size: 1rem;
    color: var(--Grayishblue);
    font-family: var(--mainFont);
    padding-bottom: 3rem;
    letter-spacing: 4px;
}
.section-6 .client img{
    width: 30%;
    border-radius: 50%;
    padding: 1rem;
}
.section-6 .client p:nth-child(2){
    font-size: 18px;
    font-family: var(--secFont);
    color: var(--grayishBlue);
    padding: 1rem;
}
.section-6 .client p:nth-child(3){
    font-size: 18px;
    font-family: var(--mainFont);
    color: var(--clientTit);
    padding: 1rem;
}
.section-6 .client p:nth-child(4){
    font-size: 14px;
    font-family: var(--secFont);
    color: var(--Grayishblue);
    padding: 0 0 3rem 0;
}
/* ---------------------- */
footer{
    height: 100vh;
}
footer .gallery{
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}
footer .gallery img{
    width: 50%;
}
footer .end{
    text-align: center;
    height:50%;
    background: var(--footer);
    color: var(--grDeText);
}
footer .end h1{
    font-family: var(--secFont);
    padding-top: 5rem;
    letter-spacing: 1px;
}
footer .end .nav{
    display:inline-flex;
}
footer .end li{
    list-style: none;
    margin: 2rem 0 5rem 0;
}
footer .end li a{
    font-family:var(--secFont);
    color: var(--grDeText);
    font-size: 18px;
    text-decoration: none;
    padding: 2rem;
}
footer .end li a:hover,footer .end li a:active{
    color: var(--white)
}
footer .socialMedia svg{
    fill:var(--grDeText);
    margin: .5rem;
}
footer .socialMedia svg:hover,footer .socialMedia svg:active{
    fill: var(--white)
}
/* -----------DESKTOP----------- */
@media screen and (min-width:700px){
    .section-1{
        background: url('../images/desktop/image-header.jpg') no-repeat center/cover;
    }
    .section-1 header{
        padding: 3rem;
    }
    .section-1 header .icono{
        display: none;
    }
    .section-1 header ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: inherit;
        clip-path: none;
        background:none;  
    }
    header ul li a{
        color:var(--white);
    }
    header ul li a:hover,header ul li a:active{
        color:var(--clientTit);
        background: var(--white);
        border-radius: 30px;
    }
    .section-1 svg{
        margin-top: 10rem;
     }
     .section-2, .section-3{
        width: 100%;
        height:70vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section-2 .bg{
        order:2;
        height: 100%;
        width: 50%;
        background: url('../images/desktop/image-transform.jpg') no-repeat center / cover;
    }
    .section-3 .bg{
        height: 100%;
        width: 50%;
        background: url('../images/desktop/image-stand-out.jpg') no-repeat center / cover;
    }
    .section-2 .secText,.section-3 .secText{
        height: 100%;
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .section-2 .secText h3,.section-3 .secText h3{
        font-size: 3.5rem;
        margin-bottom: 4rem;
    }
    .section-2 .secText p,.section-3 .secText p{
        font-size: 20px;
        line-height: 28px;
    }
    .section-2 .secText a, .section-3 .secText a{
        font-size: 20px;
        padding-top: 2rem;
    }
    .section_4_5{
        display: flex;
    }
    .section-4, .section-5{
        width: 50%;
    }
    .section-4 h3,.section-5 h3{
        font-size: 2.5rem;
        padding-top: 55vh;
    }
    .section-4 p,.section-5 p{
        font-family: var(--secFont);
        font-size: 18px;
    }
    .section-6{
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .section-6 h4{
        font-size: 1.8rem;
    }
    .section-6 .clientes{
        display: flex;
    }
    .section-6 .client p:nth-child(2){
        font-size: 20px;
    }
    .section-6 .client p:nth-child(3){
        font-size: 20px;
    }
    .section-6 .client p:nth-child(4){
        font-size: 15px;
    }
    footer .gallery{
        width: 100%;
    }
    footer .gallery img{
        width: 25%;
        height: 100%;
    }
    footer .gallery img:nth-child(1){
        content:url('../images/desktop/image-gallery-milkbottles.jpg');
    }
    footer .gallery img:nth-child(2){
        content:url('../images/desktop/image-gallery-orange.jpg');
    }
    footer .gallery img:nth-child(3){
        content:url('../images/desktop/image-gallery-cone.jpg');
    }
    footer .gallery img:nth-child(4){
        content:url('../images/desktop/image-gallery-sugarcubes.jpg');
    }
    footer .end{
        text-align: center;
        height:50%;
        background: var(--footer);
        color: var(--grDeText);
    }
    footer .end h1{
        font-size: 3rem;
        padding-top: 6rem;
    }
    footer .end .nav{
        display:inline-flex;
    }
    footer .end li{
        margin-top: 4rem;
    }
    footer .end li a{
        font-size: 25px;
    }
    footer .socialMedia svg{
        transform: scale(1.5);
        margin: 2rem 0 0 2.5rem;
    }
    .attribution { font-size: 15px;}
}
